xml/network.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://4043094.github.io/xml"
    xmlns="https://4043094.github.io/xml"
    elementFormDefault="qualified">

    <!-- Reusable simple type for IPv4 addresses -->
    <xs:simpleType name="ipAddressType">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Reusable element declaration -->
    <xs:element name="ip-address" type="ipAddressType" />

    <!-- Reusable login type -->
    <xs:complexType name="loginType">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="2">
                <xs:element ref="ip-address" />
                <xs:element name="user" type="xs:string" />
            </xs:choice>
            <xs:element name="password" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="routerType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="model" type="xs:string" />
            <xs:element name="login" type="loginType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deviceType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="software" type="xs:string" />
            <xs:element name="runs" type="xs:string" minOccurs="0" />
            <xs:element name="login" type="loginType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="devicesType">
        <xs:sequence>
            <xs:element name="device" type="deviceType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="network">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="router" type="routerType" />
                <xs:element name="devices" type="devicesType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>